{% extends 'shared/base.html' %}
{% block title %}ログイン{% endblock %}
{% block content %}
    <div class="form-field-outer">
        <div class="form-field-wrapper">
            <h1 class="form-header">ログイン</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "remember" %}
                        <div class="input-field">
                        {{ field }}
                        {{ field.label }}
                        </div>
                    {% else %}
                        <div class="input-field">
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
                <button class="submit-button" type="submit">ログイン</button>
            </form>
            <p>パスワードお忘れの方は<a href="{% url 'account_reset_password' %}">こちら</a></p>
            <p>新規登録をしてない方は<a href="{% url 'account_signup' %}">こちら</a></p>
        </div>
    </div>
{% endblock %}