@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto&display=swap');


body {
    font-family: 'Kosugi Maru', sans-serif;
    letter-spacing: 3px;
    overflow-x: hidden;
}

.errorlist {
    color: red;
}


.form-field-outer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 400px;
    margin: 5em auto;
    box-shadow: 0 0 8px gray;
    border-radius: 5px;
}

.form-field-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}


.form-header {
    font-size: 40px;
}

.form-field-outer form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px 0;
}

.form-field-outer .input-field {
    width: 80%;
}

.form-field-outer input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
}

.form-field-outer div + div {
    margin-top: 10px;
}

.submit-button {
    display: block;
    width: 80%;
    border-radius: 10px;
    background-color: deeppink;
    border-color: snow;
    height: 45px;
    color: white;
}


/*プロフィールページ*/
.user-content-wrapper {
    width: 80%;
    margin: 5vh auto;
}

.header-profile-page {
    height: auto;
    background-color: whitesmoke;
    padding: 10px 30px;
    margin: 0 0 10px 0;
}

.user-icon-image-and-edit-button-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.user-icon-image-wrapper {
}

.user-edit-button-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-profile-button {
}

.user-icon-image {
    width: 170px;
    height: 170px;
    object-fit: contain;
    border-radius: 50%;
    border: solid 2px black;
}

.user-name {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}

.user-profile-text {
    background-color: darkgray;
    padding: 20px;
    border-radius: 3px;
}

.user-item-part-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.specific-user-item-image-wrapper {
    width: 20%;
    background-color: whitesmoke;
    border: solid 2px white;
}

.specific-user-item-image {
    display: block;
    width: 100%;
    padding-top: 100%;
}


/*出品ページ*/
.sell-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.preview-image-field {
    background-color: lightgrey;
}

.preview-images {
    display: flex;
}

.item-image-container__unit--caption {
    position: relative;
    width: 20%;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.item-image-container__unit--caption img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}


/*カテゴリーページ*/
.category-page-outer {
    padding: 0 200px;
}

