input, textarea, select {
    width: 100%;
}

.sell-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.preview-image-field {
    background-color: lightgrey;
}

.preview-images {
    display: flex;
}

.item-image-container__unit--caption {
    position: relative;
    width: 20%;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.item-image-container__unit--caption img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}








/*商品詳細ページ*/
.heading-image .item-image {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.select-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.item-detail-page {
    width: 800px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.item-image-part {
    width: 300px;
    margin: 0 auto;
}

.image-preview-zone {
    display: flex;
}

.item-image-wrapper {
    background-color: rgba(102, 102, 102, 0.2);
    display: flex;
    justify-content: center;
    border: solid 1px black;

}

.image-preview-zone .item-image-wrapper {
    width: 100px;
    height: 100px;
}

.item-image {
    margin: 0 auto;
}

.select-image {
    opacity: .5;
    cursor: pointer;
}

.active_img {
    opacity: 1;
}