#nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding: 0 30px;
    background: rgba(238, 238, 238, .5);
}

#nav-bar-header {
    font-size: 1.6rem;
}

.nav-links {
    display: flex;
    margin: 0 0 0 auto;
}

.nav-links > li {
    display: flex;
    align-items: center;
}

.nav-links > li + li {
    margin-left: 15px;
}

.notification-link {
    position: relative;
}

.new_message_count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    font-size: 13px;
    border: white solid 1px;
}


.navbar-user-icon-image {
    object-fit: contain;
    border-radius: 100%;
    border: rgba(0, 0, 0, .3) solid 2px;
}


.dropdown-menu {
    width: 322px !important;
}

.unread-notification {
    background: rgb(238, 238, 238);
}

.notify-content {
    display: flex;
    justify-content: center;
}

.notify-content-user-item-link-area {
    display: flex;
}

.notify-content-text {
    width: max-content;
}

.notify-content-user-image-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.notify-content-message-area {
    margin: 0 10px;
}

.notify-content-time-minute-ago {
    width: max-content;
    margin-left: auto;
    color: rgba(0, 0, 0, .3);
}

.notify-content-item-image {
    justify-self: center;
    height: 40px;
    object-fit: contain;
    background: #777777;
}

.burger {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: darkgrey;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-burger-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 7vh;
    background: rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
}

.nav-burger-links li {
    color: rgba(238, 238, 238, .5);
}

.burger {
    display: block;
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}