.sell-page-content {
    width: 500px;
    margin: 0 auto 100px auto;
}

.sell-page-content_form {
    /*width: 70%;*/
}

.sell-page-content_form_form {
    display: flex;
    flex-flow: column;
}

.sell-page-content_form_formset_message {
    color: red;
    font-size: 8px;
}

.sell-page-content_form_formset {
    margin: 50px 0 35px 0;
}

.sell-page-content_form_form_required:after {
    content: " *";
    color: red;
    vertical-align: middle;
}

.sell-page-content_form_form_field_input {
    margin-bottom: 10px;
}

.sell-page-content_form_submit-button_outer {
    text-align: center;
}

.sell-page-content_form_submit-button {
    display: inline-block;
    border-radius: 5%;
    font-size: 15pt;
    text-align: center;
    cursor: pointer;
    padding: 15px 68px;
    background: rgba(153, 0, 0, 0.89);
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    box-shadow: 3px 3px 14px #666666;
    border: 2px solid rgba(153, 0, 0, 0.89);
}

.sell-page-content_form_submit-button:hover {
    box-shadow: none;
    color: rgba(153, 0, 0, 0.89);
    background: #ffffff;
}