#request-item-button {
    outline: none;
    border: none;
}

.request-item-button-or-view-requester-link-outer {
    border: solid 2px rgba(211, 211, 211, .8);
    border-radius: 4px;
    width: max-content;
    display: block;
    padding: 1px 230px;
    font-size: 20px;
}