.h-adr {
    width: 500px;
    margin: 100px auto;
}

.address-submit {
    width: 80px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 20px;
    border: #ff9211 solid 2px;
    color: #ff9211;
}

input {
    border: #777 solid 2px;
    border-radius: 20px;
    padding-left: 5px;
}