.category-page-content {
    width: 70%;
    margin: 0 auto;
}

.category-page-content_category-name {
    font-size: 20px;
    margin: 20px 0;
}

.category-page-content_item-part_item-link_image {
    display: block;
    width: 100%;
    padding-top: 100%;
}

.category-page-content_item-part_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.category-page-content_item-part_item-link {
    width: 20%;
    background-color: whitesmoke;
    border: solid 2px white;
}
