.all_request_content {
    width: max-content;
    margin: 0 auto;
}

.request-user-for-item {
    display:flex;
}
.request-user-for-item_image-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-user-for-item_image {
    object-fit: contain;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 1px;
}

.request-user-for-item_username-and-link-content {
    width: 300px;
}

.request-user-for-item_user-profile-link {
    display: block;
    width: 100%;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px 0;
}

.request-user-for-item_forms {
    display: flex;
    align-items: center;
}

.request-user-for-item_form {
    padding: 10px;
}

.request-user-for-item_button {
    width: 100px;
    outline: none;
    border: solid 1px;
    border-radius: 10px;
    background: none;
}