<nav id="nav-bar">
    <h1 id="nav-bar-header"><a href="{% url 'home' %}">CROSS-BOOK.</a></h1>
    {% if request.user.is_authenticated %}
        <ul class="nav-links">
            <li><a class="fas fa-pen fa-2x" href="{% url 'sell' %}"></a></li>
            <li>
                <div class="dropdown">
                    <i class="far fa-bell fa-2x" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </i>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        {% for notify in request.user.notifications.unread %}
                            <div class="notify-content">
                                <div class="notify-content-message">
                                    <a href="{% url 'my_page' notify.actor.id %}">
                                        <img class="notify-content-user-image-icon" src="{{ notify.actor.image.url }}"
                                             alt="user-icon">
                                    </a>
                                    <a href="{% url 'item_detail' notify.data.parent_id %}">
                                        <div class="notify-content-message-text">
                                            がコメントしました。
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li><a class="far fa-comment fa-2x" href="{% url 'chat-room-list' %}"></a></li>
            <li><a href="{% url 'my_page' request.user.id %}"><img width="40" height="40"
                                                                   src="{{ request.user.image.url }}"
                                                                   alt=""></a></li>
        </ul>
        <ul class="nav-burger-links">
            <li class="burger-link"><a href="{% url 'set_address' %}">配送先住所</a></li>
            <li class="burger-link"><a href="{% url 'edit_user_profile' request.user.id %}">プロフィール編集</a></li>
            <li class="burger-link"><a href="#">メールアドレス変更</a></li>
            <li class="burger-link"><a href="{% url 'account_change_password' %}">パスワード変更</a></li>
            <li class="burger-link"><a href="{% url 'account_logout' %}">ログアウト</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    {% else %}
        <ul class="nav-links">
            <li><a href="{% url 'account_signup' %}">新規登録</a></li>
            <li><a href="{% url 'account_login' %}">ログイン</a></li>
        </ul>
    {% endif %}
</nav>