{% if request.user == item.user %}
    <div class="request-item-button-or-view-requester-link-outer">
        <a href="{% url 'view_item_trade_requests' item.pk %}">申請者を見る</a>
    </div>
{% else %}
    <form action="{% url 'trade_request_item' %}" method="POST">
        {% csrf_token %}
        {% if requested %}
            <div class="request-item-button-or-view-requester-link-outer">
                <button id="request-item-button" type="submit">取引申請済み</button>
            </div>
        {% else %}
            <div class="request-item-button-or-view-requester-link-outer">
                <button id="request-item-button" type="submit">取引申請する</button>
            </div>
        {% endif %}
    </form>
{% endif %}